a {text-decoration: none;
}

a:hover {text-decoration: underline;}

a:link {color:black}
a:visited {color: black}

body
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
    background: #fff;
    margin: 10px;
    width: 94%; 
    border-collapse: collapse;
    text-align: left;
    line-height:150%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

th.log
{
    font-size: 14px;
    font-weight: bold;
    /* padding: 10px; */
    padding-top: 12pt;
    padding-bottom: 3pt;
    text-align: left;
    /* background: lightgray; */
    /* padding-left: 10px; */
    border-bottom: 2px solid #6678b1;
    margin-top: 20px;
}

th.tests
{
    font-size: 10pt;
    font-weight: normal;
    /* padding: 10px 0px; */
    text-align: left;
    /* background: red; */
    /* padding-left: 10px; */
    font-style: oblique
}

th.alltests
{
    font-size: 10pt;
    font-weight: bold;
    /* padding: 10px 0px; */
    text-align: right;
    /* background: red; */
    /* padding-left: 10px; */
    padding-top: 12pt;
    padding-bottom: 6pt;
}

th.buildfail
{
    font-size: 10pt;
    font-weight: bold;
    /* padding: 10px 0px; */
    text-align: right;
    /* background: red; */
    /* padding-left: 10px; */
    padding-top: 12pt;
}


th.date
{
    width : 17ex;
}

tr
{
    padding: 8px 8px;
}

tr.commits
{
    padding: 8px 8px;
    border-bottom: 1px solid #ccc;
}

td.commits
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
    padding: 4px;
    vertical-align:text-top;
    border-bottom: 1px solid #ccc;
}

td.tests
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
    padding: 4px;
    vertical-align:text-top;
    border-bottom: 1px solid #ccc;
}


table.tests
{
    margin-left:auto;
    margin-right:6px;
}

h1
{
    font-size: 20pt;
    margin-top: 20pt;
}

h2
{
    font-size: 10pt;
}

h3
{
    font-size: 10pt;
}

h4
{
    font-weight: normal;
    font-size: 10pt;
}

h5
{
    font-size: 10pt;
}

.buildfail
{
    /* color: red */
}

.failedtest
{
    /* color: red */
}

table.log
{
    width : 100%;
}
